{{define "event-modal"}}
<div class="modal fade" tabindex="-1" role="dialog" id="event-modal" style="z-index: 100001">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/admin/events/edit-event" id="event-form" name="event-form">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="event_id" id="event_id" value="0">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="form-group" id="datetimepicker1" data-target-input="nearest">
                                <label for="event_title">Event Name</label>
                                <input type='text' class='form-control' name="event_title" id='event_title'>
                            </div>

                            <div class="form-group">
                                <label for="event_start">Start Date</label>
                                <input type='text' class='form-control event_dates' name="event_start" id='event_start'>
                            </div>

                            <div class="form-group">
                                <label for="event_end">End Date</label>
                                <input type='text' class='form-control event_dates' name="event_end" id='event_end'>
                            </div>

                            <div class="form-group">
                                <label for="has_page">Create Event Page?</label>
                                <select name="has_page" id="has_page" class="form-control">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="all_day">All Day Event?</label>
                                <select name="all_day" id="all_day" class="form-control">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="active">Status</label>
                                <select name="active" id="event_active" class="form-control">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="css">Colour</label>
                                <select name="css" id="event_css" class="form-control">
                                    <option value="#3788d8">Blue</option>
                                    <option value="#e43228">Red</option>
                                    <option value="#07981f">Green</option>
                                    <option value="#bd0cc8">Purple</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="form-group">
                                <label for="tooltip">Short Description</label>
                                <input type="hidden" name="tooltip" id="tooltip" value="">
                                <trix-editor input="tooltip" style="height: 50vh"></trix-editor>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="float-left">
                <a id="delbtn" href="#!" class="btn btn-danger text-white float-left d-none" onclick="deleteEvent()">Delete</a>
                </div>
                <div class="float-right">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitEvent()">Save</button>
                    </div>
            </div>
        </div>
    </div>
</div>
{{end}}