{{define "menu-modal-js"}}
    <div class="modal fade" id="ddmenuItemModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Drop Down Menu Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="ddmodalbody">

                    <form method="post" action="/admin/menus/save-ddmenuitem" id="ddmenuItemForm">
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

                        <div class="tabs">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#dddetails">Details</a>
                                </li>
                                <li class="nav-item" id="ddsortmenuitems"><a data-toggle="tab" class="nav-link"
                                                                           href="#ddplacement">Placement</a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <div class="tab-pane active" id="dddetails">

                                    <div class="container-fluid">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <!-- Menu_text form input -->
                                                <div class="form-group">
                                                    <label>Menu Text:</label>
                                                    <input type="text" class="form-control" name="menu_text"
                                                           id="ddmenu_text">
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Menu Active:</label>
                                                    <select class="form-control" name="menu_active"
                                                            id="ddmenu_active">
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Open link in new window:</label>
                                                    <select class="form-control" name="new_window"
                                                            id="ddmenu_new_window">
                                                        <option value="0">No</option>
                                                        <option value="1">Yes</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Links To Page:</label>
                                                    <select class="form-control" name="menu_page_id"
                                                            id="ddmenu_page_id">
                                                        <option value="0">Does not link to page</option>
                                                        {{ pageList }}
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>URL:</label>
                                                    <input type="text" class="form-control" name="menu_url"
                                                           id="ddmenu_url">
                                                </div>
                                            </div>

                                            <div class="col-md-6">

                                            </div>
                                        </div>

                                    </div>

                                    <input type="hidden" name="menu_item_id" id="ddmenu_item_id" value="0">
                                    <input type="hidden" name="parent_menu_item_id" id="dd_parent_menu_item_id" value="0">
                                </div>

                                <div class="tab-pane" id="ddplacement">

                                </div>
                                <input type='hidden' id="ddoutput" name="sortorder">

                            </div>

                        </div>
                    </form>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger delbtn btn-sm" onclick="deleteDDMenuItem()">Delete</button>
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="$('#ddmenuItemForm').submit()">
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="menuItemModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Menu Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="modalbody">

                    <form method="post" action="/admin/menus/save-menuitem" id="menuItemForm">
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                        <input type='hidden' name='menu_menu_id' id="menu_menu_id" value='1'>

                        <div class="tabs">
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#details">Details</a>
                                </li>
                                <li class="nav-item" id="sortmenuitems"><a data-toggle="tab" class="nav-link"
                                                                           href="#placement">Placement</a>
                                </li>
                            </ul>

                            <div class="tab-content">

                                <div class="tab-pane active" id="details">

                                    <div class="container-fluid">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <!-- Menu_text form input -->
                                                <div class="form-group">
                                                    <label>Menu Text:</label>
                                                    <input type="text" class="form-control" name="menu_text"
                                                           id="menu_text">
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Menu Active:</label>
                                                    <select class="form-control" name="menu_active"
                                                            id="menu_active">
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Is Dropdown Menu:</label>
                                                    <select class="form-control" name="has_children"
                                                            id="has_children">
                                                        <option value="0">No</option>
                                                        <option value="1">Yes</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Links To Page:</label>
                                                    <select class="form-control" name="menu_page_id"
                                                            id="menu_page_id">
                                                        <option value="0">Does not link to page</option>
                                                        {{ pageList }}
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Open link in new window:</label>
                                                    <select class="form-control" name="new_window"
                                                            id="menu_new_window">
                                                        <option value="0">No</option>
                                                        <option value="1">Yes</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>URL:</label>
                                                    <input type="text" class="form-control" name="menu_url"
                                                           id="menu_url">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <input type="hidden" name="menu_item_id" id="menu_item_id"
                                           value="0">
                                </div>

                                <div class="tab-pane" id="placement">

                                </div>
                                <input type='hidden' id="output" name="sortorder">

                            </div>

                        </div>
                    </form>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger delbtn btn-sm" onclick="deleteMenuItem()">Delete</button>
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="$('#menuItemForm').submit()">
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>



    <form action="/admin/menus/delete-menu-item" name="deletemenuitemform" id="deletemenuitemform" method="post">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <input type="hidden" name="deleteid" id="deleteid">
    </form>


    <form action="/admin/menus/delete-ddmenu-item" name="deleteddmenuitemform" id="deleteddmenuitemform" method="post">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <input type="hidden" name="deleteid" id="dddeleteid">
    </form>

    <script>
        $(function () {
            $.contextMenu({
                selector: '.ddmitem',
                callback: function (key, options) {
                    // get the id of the menu item
                    let id = $(this).data('ddmitem-id');
                    let mid = $(this).data('mitem-id');
                    // call ajax to get menu item details;
                    getDataForDDMenuItem(id, mid);
                    $("#ddplacement").removeClass("hidden");
                    $("#ddsortmenuitems").removeClass("hidden");
                    $("#dddeletebutton").removeClass("hidden");
                    $('#ddmenuItemModal').modal();
                },
                items: {
                    "edit": {name: " Edit", icon: ""}
                }
            });
        });


        function getDataForDDMenuItem(menu_item_id, parent_item_id) {
            $("#ddmenu_item_id").val(menu_item_id);
            $("#dd_parent_menu_item_id").val(parent_item_id);
            getDDSortableList(parent_item_id);
            $.ajax({
                type: 'POST',
                url: '/admin/menus/ddmenujson',
                data: {
                    id: menu_item_id,
                    csrf_token: '{{.CSRFToken}}'
                },
                dataType: 'json',
                success: function (_data) {
                    let json = $.parseJSON(JSON.stringify(_data));
                    $("#ddmenu_text").val(json.menu_text);
                    $("#ddmenu_active").val(json.active);
                    $("#ddmenu_page_id").val(json.page_id);
                    $("#ddmenu_new_window").val(json.new_window);
                    $("#ddmenu_url").val(json.url);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
        }

        function getDDSortableList(x) {
            $.ajax({
                type: 'GET',
                url: '/admin/menus/ddsortitems',
                data: {
                    id: x,
                    csrf_token: '{{.CSRFToken}}'
                },
                dataType: 'json',
                success: function (_data) {
                    let json = $.parseJSON(JSON.stringify(_data));
                    if (json.ok) {
                        let html = "<ul class='list-group sortable list' id='ddsortable'>";
                        let theItems = $.parseJSON(JSON.stringify(json.items));
                        theItems.forEach(function (x) {
                            html += "<li class='list-group-item' data-id='" + x[1] + "'>"
                                + "<i class='fa fa-arrows' aria-hidden='true'></i>  &nbsp;<strong>"
                                + x[0] + "</strong></li>";
                        });
                        html += "</ul>";
                        $("#ddplacement").html(html);

                        let a = {};
                        $("#ddsortable li").each(function (i, el) {
                            a[$(el).data('id')] = $(el).index() + 1;
                        });
                        sorteda = JSON.stringify(a);
                        $("#ddoutput").val(sorteda);

                        $('#ddsortable').sortable().bind('sortupdate', function () {
                            let a = {};
                            $("#ddsortable li").each(function (i, el) {
                                a[$(el).data('id')] = $(el).index() + 1;
                            });
                            let sorteda = JSON.stringify(a);
                            $("#ddoutput").val(sorteda);
                        });
                    } else {
                        bootbox.alert("something is wrong")
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
        }

        // end of ddmenu

        // start of menu
        $(function () {
            $.contextMenu({
                selector: '.mitem',
                callback: function (key, options) {
                    // get the id of the menu item
                    let id = $(this).data('mitem-id');
                    // call ajax to get menu item details;
                    getDataForMenuItem(id);
                },
                items: {
                    "edit": {name: " Edit", icon: ""}
                }
            });
        });

        function getDataForMenuItem(menu_item_id) {
            $("#menu_item_id").val(menu_item_id);
            getSortableList();
            $.ajax({
                type: 'POST',
                url: '/admin/menus/menujson',
                data: {
                    id: menu_item_id,
                    csrf_token: '{{.CSRFToken}}'
                },
                dataType: 'json',
                success: function (_data) {
                    let json = $.parseJSON(JSON.stringify(_data));
                    if (_data.ok) {
                        $("#menu_text").val(json.menu_text);
                        $("#menu_active").val(json.active);
                        $("#menu_page_id").val(json.page_id);
                        $("#menu_url").val(json.url);
                        $("#has_children").val(json.has_children);
                        $("#menu_new_window").val(json.new_window);
                        $("#menu_menu_id").val(json.menu_id);
                        $("#placement").removeClass("hidden");
                        $("#sortmenuitems").removeClass("hidden");
                        $("#deletebutton").removeClass("hidden");
                        $(".delbtn").removeClass("hidden");
                        $('#menuItemModal').modal();
                    } else {
                        bootbox.alert('something went wrong');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
        }

        function getSortableList() {
            $.ajax({
                type: 'GET',
                url: '/admin/menus/sortitems',
                dataType: 'json',
                data: {
                    menu_id: 1,
                },
                success: function (_data) {
                    let json = $.parseJSON(JSON.stringify(_data));
                    if (json.ok) {
                        let html = "<ul class='list-group sortable list' id='sortable'>";
                        let theItems = $.parseJSON(JSON.stringify(json.items));
                        theItems.forEach(function (x) {
                            html += "<li class='list-group-item' data-id='" + x[1] + "'>"
                                + "<i class='fa fa-arrows' aria-hidden='true'></i>  &nbsp;<strong>"
                                + x[0] + "</strong></li>";
                        });
                        html += "</ul>";
                        $("#placement").html(html);

                        let a = {};
                        $("#sortable li").each(function (i, el) {
                            a[$(el).data('id')] = $(el).index() + 1;
                        });
                        let sorteda = JSON.stringify(a);
                        $("#output").val(sorteda);

                        $('#sortable').sortable().bind('sortupdate', function () {
                            let a = {};
                            $("#sortable li").each(function (i, el) {
                                a[$(el).data('id')] = $(el).index() + 1;
                            });
                            sorteda = JSON.stringify(a);
                            $("#output").val(sorteda);
                        });

                    } else {
                        bootbox.alert("something is wrong")
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
        }

        // end of menu

        function addMenuItem() {
            $("#menu_menu_id").val(1);
            $("#menu_text").val('');
            $("#menu_active").val(1);
            $("#menu_page_id").val(0);
            $("#menu_url").val('');
            $("#menu_item_id").val(0);
            $('#menuItemModal').modal();
            $('#deletebutton').addClass("hidden");
            $("#sortmenuitems").addClass("hidden");
            $("#placement").addClass("hidden");
            $(".delbtn").addClass("hidden");
        }

        function addDDMenuItem(x) {
            $("#ddmenu_text").val('');
            $("#ddmenu_active").val(1);
            $("#ddmenu_page_id").val(0);
            $("#ddmenu_url").val('');
            $("#ddmenu_item_id").val(0);
            $("#ddsortmenuitems").addClass("hidden");
            $("#ddplacement").addClass("hidden");
            $('#ddmenuItemModal').modal();
            $("#dddeletebutton").addClass("hidden");
            $("#dd_parent_menu_item_id").val(x);
            $(".delbtn").addClass("hidden");
        }

        function deleteMenuItem() {
            bootbox.confirm("Are you sure?", function (result) {
                if (result == true) {
                    $("#deleteid").val($("#menu_item_id").val())
                    $("#deletemenuitemform").submit();
                }
            });
        }

        function deleteDDMenuItem() {
            bootbox.confirm("Are you sure?", function (result) {
                if (result == true) {
                    $("#dddeleteid").val($("#ddmenu_item_id").val())
                    $("#deleteddmenuitemform").submit();
                }
            });
        }

        $(document).ready(function () {
            $('#menuItemModal').on('hidden.bs.modal', function (e) {
                $("#placement").html('');
            });
            $('#ddmenuItemModal').on('hidden.bs.modal', function (e) {
                $("#ddplacement").html('');
            });
        });
    </script>
{{end}}