{{define "powersports-js"}}



    <script src="https://cdnjs.cloudflare.com/ajax/libs/Morphext/2.4.4/morphext.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".rotator").Morphext({
                animation: "fadeInDown",
                separator: ",",
                speed: 2000,
            });
            $("[data-hide]").removeClass("hidden");
        });
    </script>

    <div class="modal fade" tabindex="-1" role="dialog" id="qqModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Quick Quote</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>Fill out the form below and click <strong>Request Quick Quote</strong>,
                        and we'll get back to you!</p>

                    <form id="qq-form" class="needs-validation" method="post" action="/power-sports/quick-quote"
                          novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                        <div class="form-group">
                            <label for="qq-name">Your Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                                </div>
                                <input class="form-control required"
                                       id="qq-name"
                                       autocomplete="off" type='text'
                                       name='name' required>
                                <div class="invalid-feedback">
                                    Required
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="qq-email">Your Email:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
                                </div>
                                <input class="form-control required"
                                       id="qq-email"
                                       autocomplete="off" type='email'
                                       name='email' required>
                                <div class="invalid-feedback">
                                    Please enter a valid email address
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="qq-phone">Your Phone Number:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone fa-fw"></i></span>
                                </div>
                                <input class="form-control required"
                                       id="qq-phone"
                                       autocomplete="off" type='text'
                                       name='phone' required>
                                <div class="invalid-feedback">
                                    Required
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12">
                                <div class="card card-body bg-light" style="width: 100%;">
                                    <div class="card-body">
                                        <p class="text-center"><strong>Interested In:</strong>
                                            <span id="interested-in-item"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="valQQ()">
                        Request Quick Quote
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function openQQ(id, item, stockNo) {
            $("#interested-in-item").html(item + ", Stock Number: " + stockNo);
            $('#qqModal').modal({backdrop: true})
        }

        function valQQ() {
            let form = $("#qq-form");
            if (form[0].checkValidity() === false) {
                this.event.preventDefault();
                this.event.stopPropagation();
            }
            form.addClass('was-validated');
            if (form[0].checkValidity() === true) {
                let formData = new FormData();
                formData.append('name', $("#qq-name").val());
                formData.append('email', $("#qq-email").val());
                formData.append('phone', $("#qq-phone").val());
                formData.append('interested', $("#interested-in-item").html());
                formData.append('csrf_token', {{.CSRFToken}});
                let ajax = new XMLHttpRequest();
                ajax.responseType = "json";
                ajax.open("POST", "/power-sports/quick-quote");
                ajax.send(formData);
                ajax.onreadystatechange = function () {
                    if (ajax.readyState === 4) {
                        $("#qqModal").modal('hide');
                        successAlert("Quick Quote Request sent!!");
                    }
                }
            }
        }

        $("#qqModal").on('hidden.bs.modal', function () {
            $(this).data('bs.modal', null);
            $(".is-invalid").each(function (index) {
                $(this).removeClass('is-invalid')
            });
            $(".was-validated").each(function (index) {
                $(this).removeClass('was-validated')
            });
        });

    </script>

    <div class="modal fade" tabindex="-1" role="dialog" id="tdModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Request a Test Drive</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="td-form" class="needs-validation" method="post" action="/power-sports/test-drive"
                          novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                        <div class="form-group">
                            <label for="td-name">Your Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user fa-fw"></i></span>
                                </div>
                                <input class="form-control required"
                                       id="td-name"
                                       autocomplete="off" type='text'
                                       name='name' required>
                                <div class="invalid-feedback">
                                    Required
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="td-email">Your Email:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
                                </div>
                                <input class="form-control required"
                                       id="td-email"
                                       autocomplete="off" type='email'
                                       name='email' required>
                                <div class="invalid-feedback">
                                    Please enter a valid email address
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="td-phone">Your Phone Number:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone fa-fw"></i></span>
                                </div>
                                <input class="form-control required"
                                       id="td-phone"
                                       autocomplete="off" type='text'
                                       name='phone' required>
                                <div class="invalid-feedback">
                                    Required
                                </div>
                            </div>
                        </div>

                        <div class="form-row">


                            <div class="col">
                                <div class="form-group">
                                    <label for="td-date">Preferred Date:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-calendar fa-fw"></i></span>
                                        </div>
                                        <input class="form-control required"
                                               id="td-date"
                                               autocomplete="off" type='date'
                                               name='preferred_date' required>
                                        <div class="invalid-feedback">
                                            Required
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="td-time">Preferred Time:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-clock-o fa-fw"></i></span>
                                        </div>
                                        <input class="form-control required"
                                               id="td-time"
                                               autocomplete="off" type='time'
                                               name='preferred_time' required>
                                        <div class="invalid-feedback">
                                            Required
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12">
                                <div class="card card-body bg-light" style="width: 100%;">
                                    <div class="card-body">
                                        <p class="text-center"><strong>Interested In:</strong>
                                            <span id="td-interested-in-item"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="valTD()">
                        Request Test Drive
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function openTD(id, item, stockNo) {
            $("#td-interested-in-item").html(item + ", Stock Number: " + stockNo);
            $('#tdModal').modal({backdrop: true})
        }

        function valTD() {
            let form = $("#td-form");
            if (form[0].checkValidity() === false) {
                this.event.preventDefault();
                this.event.stopPropagation();
            }
            form.addClass('was-validated');
            if (form[0].checkValidity() === true) {
                let formData = new FormData();
                formData.append('name', $("#td-name").val());
                formData.append('email', $("#td-email").val());
                formData.append('phone', $("#td-phone").val());
                formData.append('preferred_date', $("#td-date").val());
                formData.append('preferred_time', $("#td-time").val());
                formData.append('interested', $("#td-interested-in-item").html());
                formData.append('csrf_token', {{.CSRFToken}});
                let ajax = new XMLHttpRequest();
                ajax.responseType = "json";
                ajax.open("POST", "/power-sports/test-drive");
                ajax.send(formData);
                ajax.onreadystatechange = function () {
                    if (ajax.readyState === 4) {
                        $("#tdModal").modal('hide');
                        successAlert("Test Request sent!!");
                    }
                }
            }
        }

        $("#tdModal").on('hidden.bs.modal', function () {
            $(this).data('bs.modal', null);
            $(".is-invalid").each(function (index) {
                $(this).removeClass('is-invalid')
            });
            $(".was-validated").each(function (index) {
                $(this).removeClass('was-validated')
            });
        });
    </script>
{{end}}