{{define "slider-text-modal"}}
    <div class="modal fade" id="sliderTextModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Slider Text</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">


                            <div class="slider-preview-container">
                                <img id="current_image_for_text" src="//via.placeholder.com/300x90" style="width: 100%" alt="placeholder">
                                <div id="demo-slider-text" class="">
                                    <span id="demo-title" class="slider-preview-title">Test</span><br>
                                    <span id="demo-subtitle" class="slider-preview-subtitle">Subtext</span><br>
                                    <button id="demo-btn" class="btn btn-xs">test</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">


                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type='text' class='form-control preview' id='slider_title'>
                                        <input type='hidden' id='hidden_slider_id'>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Title Color</label>
                                        <input type='text' class='form-control preview' value="" id='title_color_text'>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Outline</label>
                                        <div class="input-group">
                                            <select id="title_shadow" class="form-control preview">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Duration (ms)</label>
                                        <div class="input-group">
                                            <input type='text' class='form-control' value="" id='duration'>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Background Video?</label>
                                    <select class="form-control" id="background_video">
                                        <option value="1">Yes</option>
                                        <option value="0" selected>No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Subtitle</label>
                                        <input type='text' class='form-control preview' id='slider_subtitle'>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="subtitle_color_text">Subtitle Color</label>
                                        <input type='text' class='form-control preview' value=""
                                               id='subtitle_color_text'>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Outline</label>
                                        <div class="input-group">
                                            <select id="subtitle_shadow" class="form-control preview">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label>Active</label>
                                    <select class="form-control" id="slide_active">
                                        <option selected value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Overlay</label>
                                        <div class="input-group">
                                            <select id="overlay" class="form-control preview">
                                                <option value="none">None</option>
                                                <option value="twoxtwo">2x2</option>
                                                <option value="threexthree">3x3</option>
                                                <option value="twoxtwowhite">2x2 white</option>
                                                <option value="threexthreewhite">3x3 white</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Vertical text position</label>
                                        <select id="vposition" class="form-control preview">
                                            <option value="top">Top</option>
                                            <option value="center">Center</option>
                                            <option value="bottom">Bottom</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Horizontal text position</label>
                                        <select id="hposition" class="form-control preview">
                                            <option value="left">Left</option>
                                            <option value="center">Center</option>
                                            <option value="right">Right</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Button opens new window?</label>
                                        <select id="new_window" class="form-control preview">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Button</label>
                                        <input type='text' class='form-control preview' id='button_text'>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Button Link</label>
                                        <input type='text' class='form-control preview' id='button_url'>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Button Style</label>
                                        <select id="button_style" class="form-control preview">
                                            <option value="btn-light">Light</option>
                                            <option value="btn-dark">Dark</option>
                                            <option value="btn-primary">Blue</option>
                                            <option value="btn-warning">Amber</option>
                                            <option value="btn-danger">Red</option>
                                            <option value="btn-success">Green</option>
                                            <option value="btn-secondary">Grey</option>
                                            <option value="btn-outline-light">Light Outline</option>
                                            <option value="btn-outline-dark">Dark Outline</option>
                                            <option value="btn-outline-primary">Blue Outline</option>
                                            <option value="btn-outline-warning">Amber Outline</option>
                                            <option value="btn-outline-danger">Red Outline</option>
                                            <option value="btn-outline-success">Green Outline</option>
                                            <option value="btn-outline-secondary">Grey Outline</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="saveSliderText()" class="btn btn-primary">Done</button>
                        <input type="hidden" id="current_slider_image_id" value="0">
                    </div>
                </div>
            </div>
        </div>
    </div>

{{end}}