{{define "slider-modal"}}
    <div class="modal fade" id="sliderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Slider</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" action="/admin/pages/save-slider" id="sliderform"
                          name="sliderform">
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                        <ul class="list list-unstyled list-inline" id="slider_images">
                            {{if .Page.Slider.Slides}}
                                {{range .Page.Slider.Slides}}
                                    <li class="list-inline-item" data-id="{{.ID}}">

                                    {{if eq .IsVideo 1}}
                                        <img id="slider_image_{{.ID}}"
                                             src="/static/site-content/videos/{{.Thumbnail}}"
                                             style="max-width: 100px;"
                                             class="img img-responsive"
                                             data-src="/static/site-content/videos/{{.Thumbnail}}">
                                    {{else}}
                                        <img id="slider_image_{{.ID}}"
                                             src="/static/site-content/sliders/{{$.Page.ID}}/thumb-{{.MediaSrc}}"
                                             class="img img-responsive" style="max-width: 100px"
                                             data-src="/static/site-content/sliders/{{$.Page.ID}}/md-{{.MediaSrc}}">
                                    {{end}}<br>
                                        <a href="#!" onclick="deleteSliderImage({{ .ID }})"><i
                                                    class="fa fa-trash"></i></a>
                                        <a href="#!" onclick="editSliderTitle({{ .ID }})"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                        {{if eq .Active 0}}
                                            <span class="text-danger">Inactive</span>
                                        {{end}}

                                        <input type="hidden" name="title_{{.ID}}'" value="{{index .TitleMap $.Lang}}"
                                               id="title_{{.ID}}">

                                        <input type="hidden" name="subtitle_{{.ID}}" value="{{index .SubtitleMap $.Lang}}"
                                               id="subtitle_{{.ID}}">

                                        <input type="hidden" name="button_text_{{.ID}}"
                                               value="{{index .ButtonMap $.Lang}}"
                                               id="button_text_{{.ID}}">

                                        <input type="hidden" name="button_url_{{.ID}}"
                                               value="{{.ButtonUrl}}"
                                               id="button_url_{{.ID}}">

                                        <input type="hidden" name="button_style_{{.ID}}"
                                               value="{{.ButtonStyle}}"
                                               id="button_style_{{.ID}}">

                                        <input type="hidden" name="title_color_{{.ID}}"
                                               value="{{.TitleColor}}"
                                               id="title_color_{{.ID}}">

                                        <input type="hidden" name="subtitle_color_{{.ID}}"
                                               value="{{.SubtitleColor}}"
                                               id="subtitle_color_{{.ID}}">

                                        <input type="hidden" name="title_shadow_{{.ID}}"
                                               value="{{.TitleShadow}}"
                                               id="title_shadow_{{.ID}}">

                                        <input type="hidden" name="subtitle_shadow_{{.ID}}"
                                               value="{{.SubtitleShadow}}"
                                               id="subtitle_shadow_{{.ID}}">

                                        <input type="hidden" name="new_window_{{.ID}}"
                                               value="{{.NewWindow}}"
                                               id="new_window_{{.ID}}">

                                        <input type="hidden" name="is_video_{{.ID}}"
                                               value="{{.IsVideo}}"
                                               id="is_video_{{.ID}}">

                                        <input type="hidden" name="video_id_{{.ID}}"
                                               value="{{.VideoId}}"
                                               id="video_id_{{.ID}}">

                                        <input type="hidden" name="duration_{{.ID}}"
                                               value="{{.Delay}}"
                                               id="duration_{{.ID}}">

                                        <input type="hidden" name="overlay_{{.ID}}"
                                               value="{{.Overlay}}"
                                               id="overlay_{{.ID}}">

                                        <input type="hidden" name="background_video_{{.ID}}"
                                               value="{{.BackgroundVideo}}"
                                               id="background_video_{{.ID}}">

                                        <input type="hidden" name="slide_active_{{.ID}}"
                                               value="{{.Active}}"
                                               id="slide_active_{{.ID}}">

                                        <input type="hidden" name="hposition_{{.ID}}"
                                               value="{{.HPosition}}"
                                               id="hposition_{{.ID}}">

                                        <input type="hidden" name="vposition_{{.ID}}"
                                               value="{{.VPosition}}"
                                               id="vposition_{{.ID}}">
                                    </li>
                                {{end}}
                            {{end}}

                        </ul>

                        <hr>
                        <input type="hidden" name="slider_images_sort_order" id="slider_images_sort_order"
                               value='{{or $.SliderSortOrder "{}"}}'>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Add an Image</label>

                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input name="uploadedImage" type="file" class="custom-file-input"
                                                   id="uploadedImage" accept="image/*">
                                            <label class="custom-file-label" id="slider-up-text" for="uploadedImage">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                                <a href="#!" onclick="uploadSliderImage()"  class="btn" id="button-addon2"><i class="fa fa-upload"></i></a>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Add a Video Slider</label>

                                    <select name="slider_video_id" class="form-control" id="slider_video_id">
                                        <option value="0">Choose video...</option>
                                        {{range .Videos}}
                                            <option value="{{.ID}}">{{.VideoName}}</option>
                                        {{end}}
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pause_on_hover">Pause on Mouse Hover</label>
                                    <select name="pause_on_hover" class="form-control" id="pause_on_hover">

                                        <option {{if eq .Page.Slider.PauseOnHover 1}} selected {{end}} value="1">Yes
                                        </option>
                                        <option {{if eq .Page.Slider.PauseOnHover 0}} selected {{end}} value="0">No
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="slider_width">Slider Width</label>
                                    <select name="slider_width" id="slider_width" class="form-control">

                                        <option {{if eq .Page.Slider.Width "full"}} selected {{end}} value="full">Full
                                            screen width
                                        </option>
                                        <option {{if eq .Page.Slider.Width "boxed"}} selected {{end}}
                                                value="boxed">Boxed
                                        </option>
                                        <option{{if eq .Page.Slider.Width "boxed-smaller"}} selected {{end}}
                                                value="boxed-smaller">Boxed - smaller
                                        </option>
                                        <option {{if eq .Page.Slider.Width "boxed-verysmall"}} selected {{end}}
                                                value="boxed-verysmall">Boxed - very small
                                        </option>

                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="transition_type">Transition Type</label>
                                    <select name="transition_type" class="form-control" id="transition_type">
                                        <option
                                                {{if eq .Page.Slider.TransitionType "fade"}} selected {{end}}
                                                value="fade">Fade
                                        </option>
                                        <option
                                                {{if eq .Page.Slider.TransitionType "slide"}} selected {{end}}
                                                value="slide">Slide
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Display Slide for (ms)</label>
                                    <input type='text' class='form-control' id='slider_delay' name="slider_delay"
                                           value="{{or .Page.Slider.Delay "3000"}}">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Show Indicators</label>
                                    <select name="show_indicators" class="form-control" id="show_indicators">
                                        <option {{if eq .Page.Slider.ShowIndicators 1}} selected {{end}} value="1">Yes
                                        </option>
                                        <option {{if eq .Page.Slider.ShowIndicators 0}} selected {{end}} value="0">No
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <input type="hidden" name="page_id" value="{{or .Page.ID 0}}">
                        <input type="hidden" id="slider_id" name="slider_id" value="{{or .Page.Slider.ID 0}}">
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="saveSlider()" class="btn btn-primary">Done</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="uploadProgressModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Uploading...</h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div id="progress-slider" style="" class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             style="width: 100%"></div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#uploadedImage').change(function(e){
            var fileName = e.target.files[0].name;
            $('#slider-up-text').html(fileName);
        });
    </script>
{{end}}