{{define "vcms-edit-post-js"}}
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/static/js/ace/ace.js"></script>
    <script>
        var editor = ace.edit("pageLevelCSSEditor");
        var editor2 = ace.edit("pageLevelJSEditor");

        $(document).ready(function () {
            $('#mySidenav').BootSideMenu({
                side: "right",
                closeOnClick: false,
                remember: false,
                pushBody: false,
                duration: 250,
                icons: {
                    left: 'fa fa-chevron-left',
                    right: 'fa fa-chevron-right',
                    down: 'fa fa-chevron-down'
                }
            });

            // flatpickr(".post_date", {
            //     enableTime: false,
            //     dateFormat: "Y-m-d",
            // });
            flatpickr(".post_date", {
                enableTime: true,
                altInput: true,
                altFormat: "F j, Y, h:i K",
                dateFormat: "Y-m-d H:i",
            });
        });

        $( function() {
            $( ".datepicker" ).datepicker({dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true});
        } );


        function appendImage(t) {
            var $this = $(t), $clone = $this.clone();
            $this.after($clone).appendTo($("#hiddensavepage"))
        }

        function makePageEditable() {
            if ($(".is-wrapper").length) {
                if ($("#hidden_post_id").val() > 0) {
                    $.ajax({
                        url: "/admin/posts/get-content/{{ .Post.ID}}",
                        cache: false,
                        dataType: 'json',
                    }).done(function (_data) {
                        let obj = $.parseJSON(JSON.stringify(_data));
                        if (obj.ok) {
                            let hide = document.getElementsByClassName("hide-on-edit");
                            var i;
                            for (i = 0; i < hide.length; i++) {
                                hide[i].style.display = "none";
                            }
                            $("#bottomSaveBar").removeClass('d-none');
                            $("#mySidenav").removeClass('d-none');
                            $('#content_edit').html(obj.content);
                            $("#post-preview-text").html(obj.preview);
                            $("#hidden_preview").val(obj.preview);
                            if ($("#accordion").length > 0) {
                                initFaqs();
                            }
                            $(".collapse").each(function (index) {
                                $(this).addClass('in')
                            });

                            $(".is-wrapper").contentbox({
                                framework: 'bootstrap',
                                snippetFile: '/static/assets/minimalist-basic/snippets-bootstrap.html',
                                snippetOpen: true,
                                toolbar: 'top',
                                coverImageHandler: '/admin/pages/ajax/save-cb-cover-image',
                                modulePath: '/static/assets/modules/',
                                designPath: '/static/assets/designs/',
                                contentStylePath: '/static/assets/styles/',
                                iconselect: '/static/assets/ionicons/selecticon-dark.html',
                                fileselect: '/admin/pages/file-manager',
                                imageselect: '/admin/pages/image-manager',
                                snippetPathReplace: ['assets/minimalist-basic/', '/static/assets/minimalist-basic/'],
                                moduleConfig: [{
                                    "moduleSaveImageHandler": "/admin/save-cb-image"
                                }],
                                useSidebar: true,
                                enableContentStyle: true
                            });
                        } else {
                            bootbox.alert('Cannot get content for edit!')
                        }
                    });
                } else {
                    let hide = document.getElementsByClassName("hide-on-edit");
                    var i;
                    for (i = 0; i < hide.length; i++) {
                        hide[i].style.display = "none";
                    }
                    $("#bottomSaveBar").removeClass('d-none');
                    $("#mySidenav").removeClass('d-none');

                    if ($("#accordion").length > 0) {
                        initFaqs();
                    }
                    $(".collapse").each(function (index) {
                        $(this).addClass('in')
                    });
                    $(".is-wrapper").contentbox({
                        framework: 'bootstrap',
                        snippetFile: '/static/assets/minimalist-basic/snippets-bootstrap.html',
                        snippetOpen: true,
                        toolbar: 'top',
                        coverImageHandler: '/admin/pages/ajax/save-cb-cover-image',
                        modulePath: '/static/assets/modules/',
                        designPath: '/static/assets/designs/',
                        contentStylePath: '/static/assets/styles/',
                        iconselect: '/static/assets/ionicons/selecticon-dark.html',
                        fileselect: '/admin/pages/file-manager',
                        imageselect: '/admin/pages/image-manager',
                        snippetPathReplace: ['assets/minimalist-basic/', '/static/assets/minimalist-basic/'],
                        moduleConfig: [{
                            "moduleSaveImageHandler": "/admin/save-cb-image"
                        }],
                        useSidebar: true,
                        enableContentStyle: true
                    });
                }
            } else {
                bootbox.alert("No editable content on this page!")
            }
        }

        function saveEditedPage() {

            if ($("#thetitledata").val() == '') {
                bootbox.alert('You must give the page a name!');
                $("#thetitledata").addClass('glowing-border');
                return false;
            }

            $("#faqbuttons").addClass('hidden');
            $(".delicon").addClass('hidden');

            bootbox.dialog({
                message: '<p class="text-center">Saving Changes...<br><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>',
                closeButton: false,
                backdrop: false,
            });

            // figure out what fonts we need to add to this page, if any
            var sMainCss = $('#content_edit').data('contentbox').mainCss();
            var sSectionCss = $('#content_edit').data('contentbox').sectionCss();
            var custom_css = sMainCss + sSectionCss;
            $("#hidden_page_styles").val(custom_css);

            $("#content_edit").saveimages({
                customval: $('meta[name=csrf-token]').attr("content"),
                handler: '/admin/cms/uploadimages',
                onComplete: function () {
                    $(".collapse").each(function (index) {
                        if (index != 1) {
                            $(this).removeClass('in');
                        }
                    });
                    $("#hidden_active").val($("#active").val());
                    $("#hidden_meta").val($("#meta").val());
                    $("#hidden_meta_tags").val($("#meta_tags").val());
                    $("#hidden_has_slider").val($("#slider").val());
                    $("#hidden_thedata").val($('.is-wrapper').data('contentbox').html());
                    $("#hidden_thetitledata").val($("#thetitledata").val());
                    $("#hidden_access_level").val($("#access_level").val());
                    $("#hidden_post_date").val($("#post_date").val());
                    $("#hidden_page_js").val($("#hidden_page_js").val());
                    $("#hidden_page_css").val($("#hidden_page_css").val());
                    $("#hiddensavepage").submit();

                }
            });
            $("#content_edit").data('saveimages').save();
            $(".bottomBar").addClass('d-none');
        }

        function initFaqs() {
            // stub
        }

        function showOpenGraphModal() {
            var options = {backdrop: false,};
            $('#openGraphModal').modal(options);
        }

        function deletePost() {
            bootbox.confirm("Are you sure you want to delete this post?", function (result) {
                if (result == true) {
                    window.location.href = '/admin/posts/delete-post/{{.Post.ID}}'
                }
            });
        }

        function showMenuOptions() {
            var options = {backdrop: false,};
            $('#menuSettingsModal').modal(options);
        }

        function setPageMenuSettings(){
            $("#hidden_menu_bg_color").val($("#menu_bg_color").val());
            $("#hidden_menu_transparent").val($("#menu_transparent").val());
        }

        function openCSSModal() {
            let options = {backdrop: false,};
            editor.setTheme("ace/theme/dreamweaver");
            editor.getSession().setMode("ace/mode/html");
            editor.setValue($("#pageLevelCSS").val());
            $('#pageCSSModal').modal(options);
        }

        function openJSModal() {
            let options = {backdrop: false,};
            editor2.setTheme("ace/theme/dreamweaver");
            editor2.getSession().setMode("ace/mode/html");
            let js = atob($("#hidden_page_js").val());
            editor2.setValue(js);
            $('#pageJSModal').modal(options);
        }

        function savePageJS() {
            $("#hidden_page_js").val(btoa(editor2.getValue()));
        }

        function savePageCSS() {
            $("#hidden_page_css").val(btoa(editor.getValue()));
        }
    </script>
{{end}}