{{template "client-base" .}}

{{define "title"}}
    {{ index (.Page.TitleMap) $.Lang}}
{{end}}

{{define "css"}}

    <style>
        video {
            width: 100% !important;
            height: auto !important;
        }
    </style>
    {{/*    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelementplayer.min.css"*/}}
    {{/*          integrity="sha256-ji1bfJaTGnyscoc7LzcV9yNJy5vGKJ0frO3KJo1oaGQ=" crossorigin="anonymous"/>*/}}
{{end}}

{{define "flyout"}}

{{end}}


{{define "content"}}

{{end}}


{{define "body"}}
    <div class="clearfix"></div>

    <div class="is-section is-section-100 is-box is-dark-text">
        <div class="is-boxes">
            <div class="is-box-centered">
                <div class="is-container is-builder container-fluid is-content-1100" id="contentareaKjBWooO">
                    <div class="row">
                        <div class="col-md-12 mt-5">
                            {{$item := index .RowSets "item"}}
                            <h3 class="text-center">
                                {{$item.Year}} {{$item.Make.Make}} {{$item.Model.Model}} {{$item.Trim}}
                                <span class="text-danger">{{formatCurrency $item.Cost}}<sup>*</sup></span>
                            </h3>
                            {{if lt $item.TotalMSR $item.Cost}}
                                <h5 class="text-center"><em>MSRP {{formatCurrency $item.TotalMSR}}</em></h5>
                            {{end}}
                        </div>
                    </div>

                    {{if ne $item.Video.VideoName ""}}
                        <div class="row">
                            <div class="col-md-12">
                                <video class="" controls autoplay muted
                                       poster="https://www.wheelsanddeals/storate/videos/{{$item.Video.Thumb}}">
                                    <source type="video/mp4"
                                            src="https://www.wheelsanddeals.ca/storage/videos/{{$item.Video.ID}}-{{$item.Video.FileName}}"/>
                                </video>
                            </div>
                        </div>
                    {{end}}

                    <div class="row">
                        <div class="col-md-12">

                            <div id="item-slider"
                                 class="carousel slide carousel-fade"
                                 data-ride="carousel"
                                 data-interval="3000"
                                 data-pause="hover">

                                <ol class="carousel-indicators">
                                    {{range $index, $value := $item.Images}}
                                        {{if eq $index 0}}
                                            <li data-target="#item-slider" data-slide-to="{{$index}}"
                                                class="d-block active"></li>
                                        {{else}}
                                            <li data-target="#item-slider" data-slide-to="{{$index}}"
                                                class="d-block"></li>
                                        {{end}}
                                    {{end}}
                                </ol>
                                <div class="carousel-inner">
                                    {{$first := true}}
                                    {{range $item.Images}}
                                        {{if $first}}
                                            <div class="carousel-item active">
                                                <img src="https://www.wheelsanddeals.ca/storage/inventory/{{$item.ID}}/{{.Image}}">
                                            </div>
                                        {{else}}
                                            <div class="carousel-item">
                                                <img src="https://www.wheelsanddeals.ca/storage/inventory/{{$item.ID}}/{{.Image}}">
                                            </div>
                                        {{end}}
                                        {{$first = false}}
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "buttons"}}

{{end}}


{{define "js"}}

    <div class="modal modal-fade" tabindex="-1" role="dialog" id="compareModal">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Compare</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="compareDiv">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{/*    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.12/mediaelement-and-player.min.js" */}}
    {{/*            integrity="sha256-z7JbZVaNbNzLvOCFHUNrjqnZRojZbRAxgr4KU2qL0qc=" crossorigin="anonymous"></script>*/}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Morphext/2.4.4/morphext.min.js"></script>
    <script>
        function openQQ(id, v) {

        }

        $(document).ready(function () {
            $(".rotator").Morphext({
                animation: "fadeInDown",
                separator: ",",
                speed: 2000,
            });
            $("[data-hide]").removeClass("hidden");
        });

        // var myPlayer = videojs('#vehicle-video');
        // $(".mutebtn").click(function(){
        //     var isVolumeMuted = myPlayer.muted();
        //     if (isVolumeMuted) {
        //         myPlayer.muted(false);
        //         $("#mute-btn").attr('src', '/images/on.png');
        //     } else {
        //         myPlayer.muted(true);
        //         $("#mute-btn").attr('src', '/images/off.png');
        //     }
        // });
    </script>
{{end}}